In [1]:
import pandas as pd

In [2]:
complete_dataset=pd.read_excel('titanic3.xls')

In [3]:
complete_dataset.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
#combine = [train_df, test_df]

In [5]:

complete_dataset_cleaned=complete_dataset.drop(['pclass','sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], axis=1)

In [6]:
complete_dataset_cleaned=complete_dataset_cleaned.rename(index=str, columns={'name':'Name','survived':'Survived'})

In [7]:
complete_dataset_cleaned

      Survived                                               Name
0            1                      Allen, Miss. Elisabeth Walton
1            1                     Allison, Master. Hudson Trevor
2            0                       Allison, Miss. Helen Loraine
3            0               Allison, Mr. Hudson Joshua Creighton
4            0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5            1                                Anderson, Mr. Harry
6            1                  Andrews, Miss. Kornelia Theodosia
7            0                             Andrews, Mr. Thomas Jr
8            1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
9            0                            Artagaveytia, Mr. Ramon
10           0                             Astor, Col. John Jacob
11           1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12           1                      Aubart, Mme. Leontine Pauline
13           1                       Barber, Miss. Ellen "Nellie"
14           1               Barkworth, Mr. Algernon Henry Wilson
15           0                                Baumann, Mr. John D
16           0                           Baxter, Mr. Quigg Edmond
17           1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18           1                              Bazzani, Miss. Albina
19           0                               Beattie, Mr. Thomson
20           1                      Beckwith, Mr. Richard Leonard
21           1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22           1                              Behr, Mr. Karl Howell
23           1                              Bidois, Miss. Rosalie
24           1                                  Bird, Miss. Ellen
25           0                                Birnbaum, Mr. Jakob
26           1                            Bishop, Mr. Dickinson H
27           1            Bishop, Mrs. Dickinson H (Helen Walton)
28           1                             Bissette, Miss. Amelia
29           1          Bjornstrom-Steffansson, Mr. Mauritz Hakan
...        ...                                                ...
1279         0               Vestrom, Miss. Hulda Amanda Adolfina
1280         0                                    Vovk, Mr. Janko
1281         0                               Waelens, Mr. Achille
1282         0                                Ware, Mr. Frederick
1283         0                        Warren, Mr. Charles William
1284         0                                  Webber, Mr. James
1285         0                                Wenzel, Mr. Linhart
1286         1    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1287         0                   Widegren, Mr. Carl/Charles Peter
1288         0                          Wiklund, Mr. Jakob Alfred
1289         0                            Wiklund, Mr. Karl Johan
1290         1                   Wilkes, Mrs. James (Ellen Needs)
1291         0                   Willer, Mr. Aaron ("Abi Weller")
1292         0                                 Willey, Mr. Edward
1293         0                  Williams, Mr. Howard Hugh "Harry"
1294         0                               Williams, Mr. Leslie
1295         0                                Windelov, Mr. Einar
1296         0                                   Wirz, Mr. Albert
1297         0                             Wiseman, Mr. Phillippe
1298         0                          Wittevrongel, Mr. Camille
1299         0                                Yasbeck, Mr. Antoni
1300         1            Yasbeck, Mrs. Antoni (Selini Alexander)
1301         0                               Youseff, Mr. Gerious
1302         0                                  Yousif, Mr. Wazli
1303         0                              Yousseff, Mr. Gerious
1304         0                               Zabour, Miss. Hileni
1305         0                              Zabour, Miss. Thamine
1306         0                          Zakarian, Mr. Mapriededer
1307         0                                Zakarian, Mr. Ortin
1308         0                                 Zimmerman, Mr. Leo

[1309 rows x 2 columns]

In [35]:
temp=test_df.merge(complete_dataset_cleaned, on='Name', how='left')

In [37]:
test_df_y=temp.drop(temp.index[8]).drop(temp.index[1])

In [38]:

test_df_y

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0.0
2,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1.0
3,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0.0
4,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0.0
5,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1.0
6,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S,1.0
7,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q,1.0
9,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,1.0
10,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C,1.0
11,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,0.0
12,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S,0.0
13,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S,0.0
14,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S,1.0
15,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,0.0
16,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,1.0
17,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,1.0
18,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q,0.0
19,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C,0.0
20,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S,0.0
21,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C,NaN
22,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C,0.0
23,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S,1.0
24,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,1.0
25,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C,1.0
26,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,1.0
27,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S,0.0
28,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C,1.0
29,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C,0.0
30,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S,0.0
31,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
390,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q,0.0
391,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S,0.0
392,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,0.0
393,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,1.0
394,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,0.0
395,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S,0.0
396,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S,1.0
397,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,1.0
398,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q,0.0
399,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,1.0
400,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S,0.0
401,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q,0.0
402,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,1.0
403,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S,0.0
404,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C,1.0
405,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,0.0
406,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,1.0
407,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,NaN
408,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S,0.0
409,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,0.0
410,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,NaN
411,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,0.0
412,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q,0.0
413,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,1.0
414,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,0.0
415,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0.0
416,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1.0
417,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0.0
418,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0.0
419,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,1.0

In [39]:
test_df_y.to_csv('test_y.csv')